.front-matter {
  font-size: 7pt;
  max-width: 40em;

  .license img {
    float: left;
    clear: both;
    margin-top: 0.7ex;
    margin-right: 1em;
  }

  div {
    display: inline;
  }
}

.navigation {
  font-weight: bold;
  max-width: 40em;
}

li.nav-title ul {
  list-style: circle;
  padding-left: 2em;
}

p.wpp {
  font-size: 9pt;
  font-style: italic;
  max-width: 40em;
}
