.pagination {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1ex;

  .previous {
    padding-right: 0.5em;
    flex-grow: 1;
  }

  .page_number {
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .next {
    flex-grow: 1;
    padding-left: 0.5em;
    text-align: right;
  }
}
